$color-black: #000000;
$color-lighter-grey: #eeeeee;
$color-light-grey: #d4d4d4;
$color-medium-grey: #8c8c8c;
$color-grey: #363636;
$color-white: #ffffff;
$color-red: #df0000;
$color-hover: rgba(255, 0, 255, 0.6);

