@import '../../../styles/variables';
@import '../../../styles/breakpoints';

.trending-title {
    border-bottom: 3px solid transparent;
    color: $color-black;
    display: inline;
    font-family: 'Roboto Slab', serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;

    @include respond-to(phone-down) {
        font-size: 18px;
        line-height: 22px;
    }
}